# Dependencies
node_modules/
.pnp
.pnp.js

# Doc
/docs/

# Build outputs
dist/
build/
*.so
*.dylib
*.dll

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/android/.gradle/
**/android/captures/
**/android/build/
**/android/app/build/
**/android/.gradle-wrapper.jar
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/local.properties
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/GeneratedPluginRegistrant.h
**/ios/GeneratedPluginRegistrant.m
**/android/GeneratedPluginRegistrant.java
**/android/GeneratedPluginRegistrant.kt
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/app/src/main/kotlin/io/flutter/plugins/GeneratedPluginRegistrant.kt

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Test coverage
coverage/
.nyc_output/

# Dev store persistence data
apps/api/data/

# Misc
*.pem
*.key
